header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
}

header {
  background-color: rgb(47, 14, 12);
  color: white;
}

header a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

header a:hover {
  text-decoration: none;
  color: white;
}